/* styling company logo */
.header img{
    width: 10%;
    margin-left: 13rem;    
}

/* ========================================= */

/* postioning the side navbar */
#mySidenav a {
    position: fixed;
    right: -115px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;    
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 25px 0 0 25px;
    z-index: 1;
}
/* hover effect on navbar */
#mySidenav a:hover {
    right: 0;
}
/* coloring the navbar */
#postBlog{
    background-color: orange;
    transition: 0.5sec;
}
#about{
    background-color: rgb(77, 195, 241);
    margin-top: 70px;
}

/* ============================================ */

/* styling content and footer buttons */
.footer a, .content a{
    background-color: orange;
    font-weight: bold;
}
/* hover effect on content and footer divison */
.footer a:hover, .content a:hover{
    background-color: rgb(77, 195, 241);
}

/* ============================================= */

/* positioning srticle and footer divison */
.footer, .articles{       
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

/* ============================================= */

/* style every article card */
.card{    
    padding: 50px;
    margin: 0px 0px 50px 0px;
}
.icon{
    float: right;
    font-size: 24px;
} 

/* ============================================= */

/* styling footer area */
.footer a{
    font-size: large;
    float: right;
}
textarea{
    height: 10rem;
}

/* ============================================== */

/* Responsive CSS code */
@media only screen and (max-width: 1100px)  {
    .header img{
        width: 20%;
        min-height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;        
    }
}
@media only screen and (max-width: 550px)  {
    .header img{
        width: 40%;        
    }
    #mySidenav a {
        padding: 10px;
        right: -120px;
    }
    .card{    
        padding: 10px;
        margin: 0px 0px 10px 0px;
    }    
}
@media only screen and (max-width: 450px)  {
    .header img{
        width: 40%;
        min-height: 70px;        
    }
    .content a{
        width: 100%;
        font-size: small;
    }
    .icon{
        margin-top: 10px;
    }
}