/* styling company logo */
.header img{
    width: 10%;
    margin-left: 20rem;    
}

/* ========================================= */

/* postioning the side navbar */
#mySidenav a {
    position: fixed;
    right: -115px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;    
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 25px 0 0 25px;
}
/* hover effect on navbar */
#mySidenav a:hover {
    right: 0;
}
/* coloring the navbar */
#postBlog{
    background-color: orange;
}
#about{
    background-color: rgb(77, 195, 241);
    margin-top: 70px;
}

/* ============================================ */

/* styling content and footer divison */
.content{
    margin-left: 80px;
}
.footer a, .content a{
    background-color: orange;
    font-weight: bold;
}
/* hover effect on content and footer divison */
.footer a:hover, .content a:hover{
    background-color: rgb(77, 195, 241);
}

/* ============================================= */


.articles{        
    padding-left: 300px;;
    padding-right: 300px;;
}
/* make responsive */

/* ============================================= */

/* positioning every article card */
.card{    
    padding: 50px;
    margin: 0px 0px 50px 0px;
}

/* ============================================= */

/* styling footer area */
.footer{
    padding: 0 18rem 10rem 23rem;
}
.footer a{
    font-size: 1.5rem;
    width: 10%;
    float: right;
}
textarea{
    height: 10rem;
}